 <!-- Name: Harshit Sharma
 Student#: 200333254
 Site address: https://harrykural-portfolio.herokuapp.com/
 Advanced Web Programming - Assignment 1  - Express Portfolio
 Description: This portfolio ebsite is made with extensive
 use of nodeJS and expressJS specialy the express generator
 which builds the file structure so you don't need to start from scratch
 -->

<footer id="footer">
    <div class="container">

    </div>
    <div class="text-center center-block">
        <p class="txt-railway">&copy; 2017 - Harshit Sharma</p>
        <br />
        <a href="https://github.com/HarryKural"><i id="social-gh" class="fa fa-github fa-3x social"></i></a>
        <a href="https://ca.linkedin.com/in/harrykural"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="mailto:200333254@student.georgianc.on.ca"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    </div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<!-- js -->
<script src = "/javascripts/jquery-3.1.1.min.js"></script>
<script src = "/javascripts/bootstrap.min.js"></script>
<script src = "/javascripts/basicelement.js"></script>
<script src = "/javascripts/jquery.easing.min.js"></script>
<script src = "/javascripts/SmoothScroll.js"></script>
<script src = "/javascripts/npm.js"></script>

</body>
</html>