<!-- Name: Harshit Sharma
Student#: 200333254
Site address: https://harrykural-portfolio.herokuapp.com/
Advanced Web Programming - Assignment 1  - Express Portfolio
Description: This portfolio ebsite is made with extensive
use of nodeJS and expressJS specialy the express generator
which builds the file structure so you don't need to start from scratch
-->


<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MFG656D');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Adding Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <!-- Bootstrap for css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <!-- Optional theme -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/stylesheets/basicelement.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//load.sumome.com/" data-sumo-site-id="8e7ec3477b0fe157b16b0ad71dcd191827caf50fa4f16d9d1d212b8852d27483" async="async"></script>

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFG656D"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- mobile -->
<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" id="buttons">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Projects">Projects</a></li>
        <li><a href="/AboutMe">About Me</a></li>
        <li><a href="/ContactMe">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
