<!-- Name: Vineet Sharma
Student#: 301364822
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Adding Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <!-- Bootstrap for css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <style>
    .header ul li{
      margin: 10px 20px;
    }
    .header ul li :hover{
      background-color: rgb(249, 172, 56);
    }
    #footer{
      position: relative;
      align-content: end;
    }
  </style>
</head>
<body>

<!-- mobile -->
<header class="p-3 text-bg-dark h3 header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../images/vlogo.png" width="40" height="32" role="img"> 
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li ><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li ><a href="/AboutMe" class="nav-link px-2 text-white">About Me</a></li>
        <li ><a href="/Projects" class="nav-link px-2 text-white">Projects</a></li>
        <li ><a href="/Services" class="nav-link px-2 text-white">Services</a></li>
        <li ><a href="/ContactMe" class="nav-link px-2 text-white">Contact</a></li>
      </ul>

      

      <div class="text-end">
        <a href="../../files/VineetResume.pdf" download="VineetResume.pdf"><button type="button" class="btn btn-outline-light me-2 ">Downlaod Resume</button></a>
      </div>
    </div>
  </div>
</header>
