<!-- Name: Harshit Sharma
Student#: 200333254
Site address: https://harrykural-portfolio.herokuapp.com/
Advanced Web Programming - Assignment 1  - Express Portfolio
Description: This portfolio ebsite is made with extensive
use of nodeJS and expressJS specialy the express generator
which builds the file structure so you don't need to start from scratch
-->


<% include partials/header.ejs %>
<div id="wrap">
<div class="container">
  <font color="#263238">
  <div class="jumbotron">

    <h1><%= title %></h1>

  </div>
  </font>
</div>
</div>
<% include partials/footer.ejs %>