

<% include partials/header.ejs %>
<div id="wrap">
<div class="container">
  <br />
  <font color="#263238">
  <div class="jumbotron">

    <p>I am currently studying in 3rd semester of Computer Programming in Georgian College. I am knowledgeable of HTML,
      CSS, Javascript, PHP, frameworks like Bootstrap, Foundation, Materialize CSS. However, I want to get more experience
      in web design and developing, also want to check out mobile application development.</p>

  </div>
  </font>
</div>
</div>
<% include partials/footer.ejs %>
