<% include partials/header.ejs %>
<div class="container">
<h1><%= title %></h1>
  <div class="jumbotron">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/html5.jpg" style="width:304px;height:228px;" />
        <h4>My First Website</h4>
        <a href="http://gc200333254.computerstudi.es/MajorProject-HarshitSharma/" class="btn btn-primary">Take a look</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/Html5css3jsbootstrap.png" style="width:304px;height:228px;" />
        <h4>BikeAddER</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/LAB1/new_bike.php" class="btn btn-primary">Take a look</a>
      </div>
    </div>
<br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/materialize.png" style="width:304px;height:228px;" />
        <h4>ActorMovie</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/Project01/new_actor.php" class="btn btn-primary">Take a look</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/PHP.jpg" style="width:304px;height:228px;" />
        <h4>MoBCompanier</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/Project02/companies/index.php?action=index" class="btn btn-primary">Take a look</a>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>