

<% include partials/header.ejs %>

<div class="container text-center">
  <h1 class="my-5"><%= title %></h1>

  <div class="row row-cols-1 row-cols-md-2 g-4" style="color:black">
    <div class="col">
      <div class="card">
        <img src="/../images/p2ss.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title m-4">RPPG for Contactless Vital Monitoring</h2>
          <p class="card-text">Develop a contactless vital monitoring system using a front camera (Selfie) on mobile devices, to extract vital parameters such as BPM, Respiration, and HRV</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../images/p1ss.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title m-4">OCR for Extraction of Vital Signs</h2>
          <p class="card-text">develop an Optical Character Recognition (OCR) system for extracting vital signs from healthcare monitoring devices. Large dataset for classifying seven-segment display digits and implemented an OpenCV algorithm for extracting vital regions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../images/p3ss.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title m-4">E-waste Management using AI</h2>
          <p class="card-text">A computational model based on Artificial Intelligence to predict E-waste prices from image inputs</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../images/p4ss.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title m-4">Munch Group</h2>
          <p class="card-text">An E-Commerce website Website done with HTML/CSS as Frontend and Laravel as Backend. By using this website you can all kind of cannibis products in New York. You can only signup if you are 18+</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>