<!-- Name: Harshit Sharma
Student#: 200333254
Site address: https://harrykural-portfolio.herokuapp.com/
Advanced Web Programming - Assignment 1  - Express Portfolio
Description: This portfolio ebsite is made with extensive
use of nodeJS and expressJS specialy the express generator
which builds the file structure so you don't need to start from scratch
-->


<% include partials/header.ejs %>

<div class="container">
  <br />
  <div class="jumbotron">
    <font color="#263238">
<h1><%= title %></h1>

    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive  img-thumbnail" src="images/html5.jpg" style="width:304px;height:228px;" />
        <br /><br />
        <h4>My First Website</h4>
        <a href="http://gc200333254.computerstudi.es/MajorProject-HarshitSharma/" class="btn btn-primary">Take a look</a>
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/Html5css3jsbootstrap.png" style="width:304px;height:228px;" />
        <br /><br />
        <h4>BikeAddER</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/LAB1/new_bike.php" class="btn btn-primary">Take a look</a>
      </div>
    </div>
<br /> <br />
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/materialize.png" style="width:304px;height:228px;" />
        <br /><br />
        <h4>ActorMovie</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/Project01/new_actor.php" class="btn btn-primary">Take a look</a>
        <br /><br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive img-fluid img-thumbnail" src="images/PHP.jpg" style="width:304px;height:228px;" />
        <br /><br />
        <h4>MoBCompanier</h4>
        <a href="http://gc200333254.computerstudi.es/COMP-1006/Project02/companies/index.php?action=index" class="btn btn-primary">Take a look</a>
      </div>
    </div>
    </font>
  </div>
  </div>

<% include partials/footer.ejs %>