

<% include partials/header.ejs %>

<div class="container text-center">
  <h1 class="my-5"><%= title %></h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Web Developent</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://plus.unsplash.com/premium_photo-1661726918615-c3c0c1b2564b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Digital Marketing</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://media.istockphoto.com/id/1169087529/photo/ux-graphic-designer-creative-sketch-planning-application-process-development-prototype.jpg?s=2048x2048&w=is&k=20&c=2FTIkW_b3Lwx2_P8VmYvuPFu144yFYH52bkRxTkrZB0=" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UI/UX Designer</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1477013743164-ffc3a5e556da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Search Enginer Optimization</h5>
          
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>